*{
    background-color: cadetblue;
    padding: 50px;
    font : white;
    align-items: center;
}

.icons {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}

.icons i {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}

.icons i:hover {
  color: yellow;
}
